<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width" name="viewport" />
        <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
        <link href="/css/pico.classless.min.css" rel="stylesheet" />
        <title>Eduri</title>
    </head>
    <body>
        <slot />
    </body>
</html>
