---
import NavBar  from '../components/NavBar.astro';

const { title = 'Eduri'} = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width" name="viewport" />
        <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
        <link href="/css/pico.classless.min.css" rel="stylesheet" />
        <title>{title}</title>
    </head>
    <style>
        body {
            padding: 1.5rem;
        }
    </style>
    <body>
        <NavBar />
        <slot />
    </body>
</html>
